#!/usr/bin/env bash
set -o nounset -o errexit
export PATH=/usr/sbin:/usr/bin:$PATH

interface=eth0

regex="inet ([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3})"

if [[ $(ip addr show $interface) =~ $regex ]]
then
    echo "${BASH_REMATCH[1]}"
fi
